@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/social";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: $containerWidth;
  position: relative;
}

//////////////////////////
//     Block trend      //
//////////////////////////

.trend {
  width: 1380px;
  padding: 75px 100px 140px;
  background: #ffffff;
  box-shadow: 5px 5px 50px 5px rgba(237, 235, 253, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
}
.trend-title {
  font-size: 50px;
  max-width: 900px;
  .title {
    font-weight: 700;
    color: #333333;
    text-align: center;
  }
}
.trend-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 60px;
}

/////////////////////
//  Product card   //
/////////////////////

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 56px 30px;
  position: relative;
  transition: all .2s;

  &:hover {
    box-shadow: 5px 5px 50px 5px rgba(202, 236, 247, 0.7);
    padding-bottom: 66px;
    padding-top: 46px;
  }
  &:hover>button, &:hover>.likes, &:hover>.commits {
    opacity: 1;
    transition: all .2s;
  }
  &:hover>.product-price {
    color: #8c84f9;
  }
}
.product-img {
  width: 245px;
  height: 245px;

  img {
    width: inherit;
    height: inherit;
    object-fit: contain;
  }
}
.product-name {
  text-align: center;
  color: #777777;
  margin-top: 33px;
}
.product-price {
  text-align: center;
  color: #333333;
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
}

.add-to-cart {
  opacity: 0;
  position: absolute;
  height: 60px;
  min-width: 100px;
  max-width: 250px;
  padding: 0 50px;
  border-radius: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(64deg, rgb(140, 132, 249), rgb(161, 101, 244) 100%);
  bottom: -30px;
  cursor: pointer;
  box-shadow: 5px 5px 25px 5px rgba(240, 239, 254, 0.7);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}
.likes {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 14px;
  column-gap: 5px;
  cursor: pointer;
}
.likes-icon {
  width: 20px;
  height: 20px;
}
.active  {
  fill: #f96290;
  stroke: #f96290;
}
.commits {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-size: 14px;
  column-gap: 5px;
  cursor: pointer;
}

////////////////////////////
//   Presentation block   //
////////////////////////////

#presentation {
  width: 100%;

  .container {
    padding: 40px 0 75px 40px;
    position: relative;
  }
}

.presentation-container {
  display: flex;
  //grid-template-areas: "title img" "desc img";
  //grid-template-columns: 45% 53%;
  grid-column-gap: 2%;
}
.presentation-desc {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
  //margin-bottom: 35px;
}

.presentation-title h3 {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  color: #333333;
  //grid-area: title;
}
.brand-title {

  h4 {
    font-size: 25px;
    line-height: 34px;
    //line-height: 1;
    color: #333333;
  }
  a {
    color: #8d83f9;
  }
  //grid-area: desc;
}
.brand-desc {
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  //margin-top: 20px;
  //padding: 25px 0;
}

.presentation-img {
  width: 53%;
  position: relative;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  //margin-top: 56px;

  img {
    //box-shadow: -5px 25px 25px 10px rgba(68, 77, 84, 0.2);
  }

  //grid-area: img;
}

.bg-img {
  width: 370px;
  height: 705px;
  background: url("../../../src/assets/img/phone.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 145px;
  top: 75px;
}

.bg-circle {
  width: 402px;
  height: 402px;
  background: url("../../../src/assets/img/circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

///////////////////////////
//    Showcase Menu      //
///////////////////////////

#trendly-watch {
  row-gap: 0;
  padding-bottom: 75px;

  .trend-content {
    margin-top: 60px;
  }

  .product-img {
    width: 220px;
    height: 220px;
  }
}

.showcase-nav {
  width: 100%;
  margin-top: 87px;
  max-width: 1100px;
  height: 65px;
  border-radius: 35px;
  box-shadow: 0px 0px 95px 50px rgba(239, 239, 240, 0.75);
  display: flex;
  //justify-content: space-around;
  align-items: center;
}

.showcase-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.showcase-item a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  padding: 15px 15px;
  transition: all .2s;

  &:hover {
    color: #b394fa;
  }

  &.active {
    color: #b394fa;
    font-size: 20px;
    text-shadow:-1px 9px 5px #d5c8f7;
    //opacity: 1.2;
  }
}




//.container {
//  @media screen and (max-width: $tableWidth) {
//    //max-width: $phoneWidth;
//  }
//  @media screen and (max-width: $phoneWidth) {
//    //max-width: $smPhoneWidth;
//  }
//}

// Modules
// @import "modules/my-module.scss";
