@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/social";
@import "utils/animations";
@import "utils/decor-pospions";
@import "utils/product-card";
@import "blocks/showcase-menu";
@import "blocks/burger-menu";
@import "utils/emerge-menu";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 480px;
  width: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: $containerWidth;
  position: relative;
}

//////////////////////////
//     Block trend      //
//////////////////////////

.trend {
  position: relative;
  width: (1380 / 1600 * 100%);
  margin-top: 30px;
  padding: 75px 100px;
  background: $defaultColor;
  box-shadow: 0px 5px 50px 3px rgba(237, 235, 253, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;

  @media (max-width: $desktopWidth) {
    padding: 60px 5%;
  }

  @media (max-width: $smallWidth) {
    padding: 60px 7%;
    width: 100%;
  }
}

.trend-title {
  font-size: $titleFontSize;
  max-width: 900px;
  z-index: 2;
  .title {
    font-weight: $titleFontWeight;
    color: $trendTitleColor;
    text-align: center;

    @media (max-width: $smallWidth) {
      font-size: 44px;
    }
  }
}
.trend-content {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 6%;
  grid-row-gap: 40px;

  @media (max-width: $phoneWidth) {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2%;
  }
}
.trend-content-bags {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 6%;
  grid-row-gap: 40px;

  @media (max-width: $phoneWidth) {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2%;

  }
}
#trendly-watch {
  row-gap: 0;
  padding-bottom: 100px;
  position: relative;

  .trend-content {
    margin-top: 60px;
  }
}

.on {
	display: grid;
}
.off {
	display: none;
}

////////////////////////////
//   Presentation block   //
////////////////////////////

#presentation {
  width: 100%;
  position: relative;

	//display: none;

  .container {
    width: (1250 / 1600 * 100%);
    padding: 32px 0 40px 40px;
    position: relative;
    left: 0;

    @media (max-width: $smallWidth) {
      width: 100%;
      padding: 40px;
      padding-top: 80px;
    }
  }
}

.presentation-container {
  display: flex;

  @media (max-width: $smallWidth) {
    flex-direction: column;
    align-items: center;
  }
}
.presentation-desc {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;

  @media (max-width: $smallWidth) {
    width: 100%;
  }
}

.presentation-title h2 {
  font-size: $titleFontSize;
  line-height: 1;
  font-weight: $titleFontWeight;
  color: $trendTitleColor;
}
.brand-title {

  h3 {
    font-size: 25px;
    line-height: 34px;
    color: $trendTitleColor;
  }
  a {
    color: #8d83f9;
  }
}
.brand-desc {
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.presentation-img {
  width: 55%;
  position: relative;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $smDesktopWidth) {
    margin-left: 5%;
  }

  @media (max-width: $smallWidth) {
    width: 100%;
  }
}

.bg-img {
  width: 370px;
  height: 705px;
  background: url("/assets/img/phone.png");
  background-repeat: no-repeat;
  position: relative;
  margin-top: 75px;

  @media (max-width: $smallWidth) {
    position: relative;
    left: 0;
    margin-top: 120px;
  }
}
.bg-circle {
  width: 402px;
  height: 402px;
  background: url("/assets/img/circle.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 25%;
  top: -10%;
  z-index: -1;

  @media (max-width: $smallWidth) {
    left: 20%;
    top: -12%;
  }
}




