//    header style   //
///////////////////////

header {
	width: 100%;
	position: relative;
	min-height: 700px;

	@media (max-width: $desktopWidth) {
		min-height: 500px;
	}

	@media (max-width: $smallWidth) {
		margin-top: 70px;
	}
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.bg-image {
	position: relative;
	width: 55%;
	top: 55px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -2;

	@media (max-width: $smallWidth) {
		margin-top: 187px;
		margin-left: auto;
		width: 115%;
		right: -6%;
	}
}
.bg-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 1055px;
	top: 0;
	background: linear-gradient(204.7deg, rgba(#aa55f3, 0.5) 27%, rgba(#1100ff, 0.5) 58%, transparent 58%);
	background-blend-mode: overlay;
	transform-origin: center center;
}
.bg-effects {
	position: absolute;

	@media (max-width: $smallWidth) {
		transform: scale(-1, 1);
		width: 75%;
		right: -10%;
	}
}
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 80px 40px;
	margin: 0 auto;
	opacity: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	top: 0;

	@media (max-width: $smallWidth) {
		padding: 40px 7%;


	}
}
.header-container {
	width: (1250 / 1600 * 100%);

	@media (max-width: $desktopWidth) {
		width: 100%;
	}
}
.header-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	row-gap: 10%;
	width: 44%;
	margin-left: auto;

	@media (max-width: $smDesktopWidth) {
		//justify-content: flex-start;
		row-gap: 0;
	}

	@media (max-width: $smallWidth) {
		margin-left: 0;
		justify-content: flex-start;
	}

	@media (max-width: $phoneWidth) {
		row-gap: 0;
	}
}
.header-logo-row {
	display: flex;
	justify-content: space-between;

	@media (max-width: $smallWidth) {
		display: none;
	}
}
.header-logo {
	z-index: 5;

	.logo {
		font-size: 40px;
		margin-top: -10px;
		background-color: $defaultColor;
		font-weight: $mediumFontWeight;
		font-family: $fontRoboto;
		background: linear-gradient(312deg, rgba($defaultColor,1) 0%, rgba($defaultColor,1) 21%, rgba($logoGradient,1) 24%, rgba($logoGradient,1) 42%, rgba($defaultColor,1) 45%, rgba($defaultColor,1) 59%, rgba($logoGradient,1) 62%, rgba($logoGradient,1) 79%, rgba($defaultColor,1) 81%, rgba($defaultColor,1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: inline-block;
	}
}
.buttons {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.header-button {
	display: flex;
	align-items: center;
	background: $defaultColor;
	opacity: 1;
	max-width: 550px;
	border-radius: 35px;
	box-shadow: 0 5px 25px 5px rgb(179, 158, 241);
	padding: 12px;
}
.source {
	display: flex;
}
.button-src {
	width: 110px;
	position: relative;
	border-right: 1px solid #e0e0e0;
	background: none;
	font-size: $mainFontSize;
	font-weight: $semiBoldFontWeight;
	padding: 1px 0;
	padding-right: 5px;
	color: $borderButtonArray;
	opacity: 1;

	&:focus, &:active {
		width: 250px;
	}

	&:focus::-webkit-input-placeholder {
		color: transparent;
	}
	&:focus:-moz-placeholder {
	color: transparent;
	}
	&:focus::-moz-placeholder {
		color: transparent;
	}
}
.button-array {
	display: block;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid $borderButtonArray;
	border-right: 2px solid $borderButtonArray;
	transform: rotate(45deg);
}
.src-icon {
	margin-right: 5px;
	background: $defaultColor;
	cursor: pointer;

	&>svg {
		width: 30px;

	}

	&>svg path {
		stroke: #ffffff;
	}
}
.src-desc {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 35px;
}
.array {
	padding: 7px;
}
.header-drop {
	position: relative;
}
.button-collection {
	position: relative;
	max-width: 250px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: none;
	cursor: pointer;


}

.drop-menu {
	position: absolute;
	top: 160%;
	right: 0;
	background: $defaultColor;
	box-shadow: 0px 5px 24px 1px rgba($buttonShadow , 0.75);
	border-radius: 13px;
	transform: scaleY(0);
}
.drop-list {
	min-width: 185px;
	max-width: 250px;
	display: flex;
	row-gap: 3px;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
}
.drop-item {
	display: flex;
	border-radius: 10px;
	text-align: left;
	width: 100%;
	transition: all $transitionTime;

	a {
		padding: 10px 15px;
		font-size: $mainFontSize;
		width: 100%;
		color: $dropMenuItem;
	}

	&:hover {
		color: $purppleGragientColor;
		background: linear-gradient(237deg, $purppleGragientColor, $violetGradientColor 100%);

		a {
			color: $defaultColor;
		}
	}
}

.collection-desc {
	padding-left: 27px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: $mainFontSize;
	font-weight: $semiBoldFontWeight;
}
.header-title {

	@media (max-width: $smallWidth) {
		margin-top: 15px;
	}
}

h1.title {
	font-family: $fontRoboto;
	font-size: $headerTitleSize;
	line-height: 120px;
	font-weight: $titleFontWeight;

	@media (max-width: $desktopWidth) {
		font-size: 90px;
		line-height: 100%;
	}
	@media (max-width: $smDesktopWidth) {
		font-size: 75px;
		line-height:  79px;
	}
}
p.sale {
	font-family: $fontRoboto;
	font-size: $titleFontSize;
	font-weight:$mediumFontWeight;

	@media (max-width: $smDesktopWidth) {
		font-size: 32px;
		margin-top: 5px;
	}
}
.white-color {
	color: $defaultColor;
}
.yellow-color {
	color: #fbf934;
}
.details-container {
	position: relative;
	min-width: 200px;
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;

	&::before {
		content: '';
		width: 10000px;
		height: 2000px;
		background: linear-gradient(rgba(#AA55F3, 0.5) 80%, rgba(#1100FF, 0.5) 100%);
		position: absolute;
		bottom: 130px;
		transform: rotate(24.7deg);
		z-index: -2;
	}

	@media (max-width: $smallWidth) {
		margin-top:24px;
		min-width: 200px;

		&::before{
			bottom: 0px;
		}
	}
}
.details {
	min-width: 200px;
	min-height: 60px;
	font-family: $mainFont;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 25px;
	background-color: $defaultColor;
	border-radius: 35px;
	font-size: 20px;
	font-weight: $semiBoldFontWeight;
	column-gap: 15px;
	box-shadow: 0px 5px 25px 5px rgba($buttonShadow , 0.6);
	cursor: pointer;
	transition: all $transitionTime;

	&:hover {
		transform: scale(1.1);
		color: $purppleGragientColor;
		background: linear-gradient(237deg, $purppleGragientColor, $violetGradientColor 100%);
		color: $defaultColor;
		border: 1px solid $buttonBorderColor;
	}

	&:hover > .details-arrow path{
		fill: $defaultColor;
	}

	&:hover::before {
		z-index: -10;
	}

	@media (max-width: $smallWidth){
		min-width: 220px;
		box-shadow: 0 5px 25px 5px #9687fe;
	}
}
.details-arrow {
	 color: $detailsBorderColor;
	 width: 20px;
 }
.details-arrow path {
	fill: $detailsBorderColor;
	transition: all $transitionTime;
}