.social-list {
	display: flex;
	justify-content: center;
	column-gap: 30px;

	@media (max-width: $smallWidth) {
		column-gap: 20px;
	}
}
.social-item {
	min-width: 55px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ecebed;
	border-radius: 50%;
	transition: all $transitionTime;
	cursor: pointer;

	a {
		width: 35px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a > svg {

		& path {
			fill: #555555;
			transition: all $transitionTime;
		}
	}
	#facebook > svg {
		width: 25px;
		height: 23px;
	}
	#google-plus > svg {
		width: 35px;
		height: 30px;
	}
	#instagram > svg {
		width: 23px;
		height: 22px;
	}
	#twitter > svg{
		width: 22px;
		height: 22px;
	}

	&:hover {
		background: linear-gradient(237deg, $purppleGragientColor, $violetGradientColor 100%);
		box-shadow: 0px 8px 19px 1px rgba(207, 207, 208, 0.75);
		border-color: $buttonBorderColor;
		transform: scale(1.1);

		svg path {
			fill: $defaultColor;
		}
	}
}