block variable
	
.emerge-background
	.emerge-bg
	.emerge-menu
		.menu-logo
			.logo Big Shop
		.menu-category
			ul.category-list
				for item in emergeList
					li(data-tab-block= item.link).category-item
						a(href= item.link).category-link= item.name
		include social
		.closed-menu &#x2716
