- var footerMenu = [{link: "", value: "Man"}, {link: "", value: "Woman"}, {link: "", value: "Kids"}, {link: "", value: "Bags"}, {link: "", value: "Watches"}, {link: "", value: "Toys"}];


footer#foot
	.newsletter
		.back
		.newsletter-content
			.newsletter-title
				p.title Newsletter
				.back-title GET NOTIFIED
			form(action="" method="post" target="blank").email-input
				input(type="email" autocomplete="on" placeholder="Enter your email address..").email
				input(type="submit" value="Submit").email-btn
	.foot-content
		.foot-title
			p.title Big Shop
		nav.foot-categories
			ul.categories-list
				for item in footerMenu
					li.categories-item
						a(href= item.link)= item.value
		include social
	.copyright &#xA9; Copyright 2017. Big Shop by Victor Themes.