- var dropMenu = [{link: "", value: "Man"}, {link: "", value: "Woman"}, {link: "", value: "Kids"}, {link: "", value: "Bags"}, {link: "", value: "Watches"}, {link: "", value: "Toys"}];

header
  div.bg-image
    img(src="/assets/img/face.png")
  .background
    //div.bg-image
    //  img(src="/assets/img/face.png")
    div.bg-gradient
    div.bg-effects
      img(src="/assets/img/gradient-effect.png")
    .bg-ring.decor
    .bg-quad.decor
      //img(src="/assets/img/quad-shape.png")
  .container
    .header-container
      .header-logo-row
        .header-logo
          p.logo Big Shop
        .buttons
          .header-button
            form(action="" method="post" target="_blank").source
              input(type="image" src="/assets/img/search-icon.png").src-icon
              input(type="search", placeholder="Search").button-src
            button.button-collection
              .collection-desc Collection
              .array
                .button-array
              .drop-menu
                ul.drop-list
                  for key in dropMenu
                    li.drop-item
                      a(href= key.link).link= key.value
      .header-content
        .header-title
          h1.title
            span.black-color Summer
            span.white-color  Collection
          p.sale
            span.yellow-color 25%
            span.white-color  OFF
        button.details
          .details-desc Details
          .details-arrow
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="9" viewBox="0 0 18 9">
            <defs>
            <style> .cls-1 {fill-rule: evenodd;}
            </style>
            </defs>
            <path id="_" data-name="" class="cls-1" d="M17.257,4.31L13.4,0.795a0.323,0.323,0,0,0-.352-0.05,0.291,0.291,0,0,0-.191.291v2.25H0.321A0.309,0.309,0,0,0,0,3.607V5.536a0.309,0.309,0,0,0,.321.321H12.857v2.25a0.3,0.3,0,0,0,.191.291,0.313,0.313,0,0,0,.352-0.06l3.857-3.556a0.329,0.329,0,0,0,.1-0.241,0.318,0.318,0,0,0-.1-0.231h0Z"/>
            </svg>



