extends ../layout/main
include ../includes/mixins/showcase

block variables
	include ../includes/vars/variables

block contentBags
	section#trendly-bags.trend
		.trend-title
			h2.title Trendy Arrivals
		+showcase("bags", showcasesBags)
		div(data-parallax=2).triangle-shape.decor
		div(data-parallax=0.8).green-line-shape.decor
		div(data-parallax=1).violet-line-shape.decor
		div(data-parallax=0.5).violet-medium-ring.decor
		div(data-parallax=0.6).violet-quad-shape.decor
		div(data-parallax=0.9).violet-quad-large.decor
		div(data-parallax=0.3).triangle-light-shape.decor

block brands-presentation
	section#presentation.presentation
		.container
			.presentation-container
				.presentation-desc
					.presentation-title
						h2.title Our Brands
					.brand-title
						h3 Small Shoes 2017 new Arrivals  mini Messenger
							a(href="#")  Classic Shoes
					.brand-desc
						p In porttitor elit ac mi placerat hendrerit. Morbi accumsan, erat in ullamcorper consectetur, nisi erat efficitur eros, sagittis tristique odio turpis vitae dui. Vestibulum gravida est ut erat pretium, non pretium diam feugiat. Integer egestas suscipit lorem ac fermentum. Integer at mauris vitae justo sagittis dapibus. Pellentesque sit amet nisl vitae orci vehicula faucibus. Fusce et lat, feugiat est.
				.presentation-img
					.bg-img
						.bg-circle
			div(data-parallax=0.4).blue-line-shape.decor
			div(data-parallax=0.7).violet-line-shape.decor
			div(data-parallax=0.8).triangle-light.decor

block contentWatch
	section#trendly-watch.trend
		.trend-title
			h2.title Our Showcase
		nav.showcase-nav
			ul.showcase-list
				for data, index in showcasesWatches
					li(data-watch-tab-id=index).showcase-item
						.category=data["title"]		
		+showcase("fashion", showcasesWatches)
		+showcase("furnitures", showcasesWatches)
		+showcase("watches", showcasesWatches)
		+showcase("mobile", showcasesWatches)
		+showcase("cloth", showcasesWatches)
		+showcase("toys", showcasesWatches)
		div(data-parallax=0.2).triangle-shape-show.decor
		div(data-parallax=0.8).yellow-line-shape.decor
		div(data-parallax=0.6).violet-quad-light.decor
		div(data-parallax=0.4).triangle-small-shape.decor
		div(data-parallax=0.5).violet-small-ring.decor
