.scale-animation {
	transform: scale(0.1);
}

.product-card:hover>.scale-animation{
	animation: scale-up $scaleButtonAnimation cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes scale-up {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
	}
}

.scale-drop {
	transform-origin: top;
	animation: scale-drop-menu $scaleDropAnimation cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes scale-drop-menu {

	from {
		transform: scaleY(0);
	}
	to {
		transform: scaleY(1);
	}
}

.show-menu {
	animation: scale-off 0.2s linear both;
}

@keyframes scale-off {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.scale-right {
	animation: scale-on 0.2s both;
}

@keyframes scale-on {
	from {
		left: -50%;
	}
	to {
		left: 0;
	}
}

