///////////////////////
//    Header Decors  //
///////////////////////

.bg-ring {
	position: absolute;
	width: 26px;
	height: 26px;
	background: url("../../../src/assets/img/white-ring.png");
	top: (181 / 994 * 100%);
	left: (843 / 1600 * 100%);
}
.bg-quad {
	position: absolute;
	background: url("../../../src/assets/img/quad-shape.png");
	width: 41px;
	height: 41px;
	top: (739 / 994 * 100%);
	right: (100 / 1600 * 100%);
}

/////////////////////////
//   Trend Bags Decor  //
/////////////////////////

.triangle-shape {
	position: absolute;
	width: 109px;
	height: 108px;
	background: url("../../../src/assets/img/triangle-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (81 / 1320.38 * 100%);
	left: (231 / 1380 * 100%);
}
.green-line-shape {
	position: absolute;
	width: 93px;
	height: 147px;
	background: url("../../../src/assets/img/green-line-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (48 / 1320.38 * 100%);
	left: (814 / 1380 * 100%);
}
.violet-line-shape {
	position: absolute;
	width: 33px;
	height: 60px;
	background: url("../../../src/assets/img/violet-line-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (48 / 1320.38 * 100%);
	right: (132 / 1380 * 100%);
}
.violet-medium-ring {
	position: absolute;
	width: 144px;
	height: 144px;
	background: url("../../../src/assets/img/violet-medium-ring.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (383 / 1320.38 * 100%);
	left: -(72 / 1380 * 100%);
	z-index: -1;
}
.violet-quad-shape {
	position: absolute;
	width: 109px;
	height: 109px;
	background: url("../../../src/assets/img/violet-quad-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (466 / 1320.38 * 100%);
	right: -(51 / 1380 * 100%);
}
.violet-quad-large {
	position: absolute;
	width: 88px;
	height: 88px;
	background: url("../../../src/assets/img/violet-quad-large.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (1100 / 1320.38 * 100%);
	right: -(41 / 1380 * 100%);
	z-index: -1;
}
.triangle-light-shape {
	position: absolute;
	width: 91px;
	height: 91px;
	background: url("../../../src/assets/img/triangle-light-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (1131 / 1320.38 * 100%);
	left: -(47 / 1380 * 100%);
}

////////////////////////////
//   Presentation Decor   //
////////////////////////////

#presentation {

	.violet-line-shape {
		position: absolute;
		width: 33px;
		height: 60px;
		background: url("../../../src/assets/img/violet-line-shape.png");
		background-repeat: no-repeat;
		background-size: contain;
		top: (477 / 822 * 100%);
		right: (4 / 1250 * 100%);
	}
}

.blue-line-shape {
	position: absolute;
	width: 63px;
	height: 101px;
	background: url("../../../src/assets/img/blue-line-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (234 / 822 * 100%);
	left: (279 / 1250 * 100%);
	z-index: -1;
}

.triangle-light {
	position: absolute;
	width: 95px;
	height: 95px;
	background: url("../../../src/assets/img/triangle-light.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (703 / 822 * 100%);
	left: -(5 / 1250 * 100%);
}

/////////////////////////
//   Trend Bags Decor  //
/////////////////////////

#trendly-watch {
	.triangle-shape-show {
		position: absolute;
		width: 117px;
		height: 117px;
		background: url("../../../src/assets/img/triangle-light-shape-show.png");
		background-repeat: no-repeat;
		background-size: contain;
		top: (40 / 1352.38 * 100%);
		left: (177 / 1380 * 100%);
	}

	.yellow-line-shape {
		position: absolute;
		width: 87px;
		height: 139px;
		background: url("../../../src/assets/img/yellow-line-shape.png");
		background-repeat: no-repeat;
		background-size: contain;
		top: (48 / 1352.38 * 100%);
		left: (814 / 1380 * 100%);
	}
}

.violet-quad-light {
	position: absolute;
	width: 34px;
	height: 34px;
	background: url("../../../src/assets/img/violet-quad-light.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (476 / 1352.38 * 100%);
	right: -(15 / 1380 * 100%);
}
.triangle-small-shape {
	position: absolute;
	width: 115px;
	height: 115px;
	background: url("../../../src/assets/img/triangle-small-shape.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (868 / 1352.38 * 100%);
	left: -(58 / 1380 * 100%);
}
.violet-small-ring {
	position: absolute;
	width: 104px;
	height: 104px;
	background: url("../../../src/assets/img/violet-small-ring.png");
	background-repeat: no-repeat;
	background-size: contain;
	top: (250 / 1352.38 * 100%);
	left: (123 / 1380 * 100%);
}

.decor {
	pointer-events: none;
}