// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap');