include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      main.content-wrapper
        block content
        block brands-presentation
      include ../includes/modules/footer

    block script